.messageBlock {
    background: #a9e800;
    display: flex;
    flex-direction: row;

}

.block {
    flex-grow: 6;
    padding: 20px;
}

.block_right {
    flex-grow: 1;

}
.avatar{
    border-radius:50%;
    height: 80px;
    float: right
}

.block_left {
    flex-grow: 4;
    background: #002200;
}

.name {
    color: #a195cb;
}

.message {
    color: #a4bba0;
}

.time {
    color: #a4bba0;
}