.messageBlock {
    background: #a9e800;
    display: flex;
    flex-direction: row;

}

.block {
    flex-grow: 6;
    padding: 20px;
}

.block_right {
    flex-grow: 1;

}

.block_left:after {
    content: '';
    position: relative;
    top: 20px;
    left: -33px;
    border: 27px solid transparent;
    border-right: 0px solid #002200;
    border-bottom: 20px solid #002200;
    height: 0;
    float: left;
}

.avatar {
    border-radius: 50%;
    height: 80px;
    float: right
}

.block_left {
    flex-grow: 4;
    background: #002200;
    margin: 5px 20px;
    border-radius: 10px;
}

.name {
    color: #a195cb;
}

.message {
    color: #a4bba0;
}

.time {
    color: #a4bba0;
    float: right;
    margin-top: 26px;
}